h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: white;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

h5 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Montserrat", sans-serif;
}
.separator {
  border-left: 1px solid #ddd; /* Línea vertical */
}

.nav-item :hover {
  text-decoration: underline;
  color: red;
}

.nav-item {
  font-family: "Lato", sans-serif;
}

.img {
  height: 280px;
  width: 480px;
}

.img-raw-smackdown {
  height: 150px;
  width: 450px;
  border: 5px solid black;
}

.sign-up {
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 40px;
}

.cede{
   margin-top: 60px;
}

footer{
   width: 100%;
}

.link-net{
   color: #ddd;
}

.link-net :hover{
      color: black;
}

.container-titulo{
  width: 100%;
}

.btn-roster-smackdown :hover{
  border-color: yellow;
}

.btn-roster-raw :hover{
  border-color: red;
}

.formulario{
  background-image: url(assets/mcdonalds-logo-bg-red.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.card {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
}

#details-box {
  display: none;
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#details-img {
  width: 350px;
  height: 350px;
  object-fit: cover; 
}
 
.contiene{
  padding-top: 80px;
}

.diamond-container {  
  position: relative;  
  width: 200px; 
  height: 200px; 
  margin: 20px;  
}  
.diamond {  
  position: absolute;  
  width: 200px;
  height: 200px;  
  overflow: hidden;  
  transform: rotate(45deg); 
  z-index: 1; 
}  
.diamond img {  
  width: 100%; 
  height: auto; 
}  
.square {  
  position: absolute;  
  top: 50%;  
  left: 50%;  
  width: 190px;
  height: 160px;   
  transform: translate(-60%, -70%);
  z-index: 2; 
}  
.square img {  
  width: 100%;  
  height: auto;  
} 

.carousel {  
  max-width: 970px; 
  margin: auto; 
  border-radius: 10px;   
  overflow: hidden; 
}  

.carousel-item img {  
  transition: transform 0.5s ease; 
}  

.carousel-item:hover img {  
  transform: scale(1.05);
}  

.carousel-control-prev-icon,  
.carousel-control-next-icon {  
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 50%;   
}  

.carousel-control-prev,  
.carousel-control-next {  
  filter: brightness(0) invert(1);  
}

.rombo {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: rotate(45deg) translate(-35%, -45%);
  width: 180px;
  height: 180px;
  z-index: 1;
}

.cuadrado {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  z-index: 2;
}